.page {
    margin-top: 80px;
    margin-bottom: 30px;
}

.filter {
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1Text {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
